@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-main: 30, 30, 30;
  --txt-color-main: 230, 230, 230;
}

* {
  color: rgb(var(--txt-color-main));
}

body {
  color: rgb(var(--bg-color-main));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--bg-color-main))
    )
    rgb(var(--bg-color-main));
}
